h2 {
    align-items: center;
    text-align: center;
    font-size: 24px;
  }
  
  .project-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-bottom: 5%;
  }