.project-section {
  padding: 20px;
}

.projectsBox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  margin: 5% auto;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px var(--box-shadow-color);
  transition: box-shadow 0.3s;
}