.component-project-box {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  position: relative;
  display: inline-block;
  width: 450px;
  height: 400px;
  transition: box-shadow 0.3s, transform 0.3s;
}

.component-project-box:hover {
  box-shadow: 0 0 10px var(--box-shadow-color);
  transform: scale(1.02); /* Increase size by 10% on hover */
}

.component-project-box:hover .image-container img.active {
  opacity: 1;
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 200px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.view-details {
  position: absolute;
  text-align: center;
  margin-top: 1%;
  left: 50%; 
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: var(--bg-btn-color);
  color: var(--text-color);
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1em;
}

.view-details:hover {
  background-color: var(--bg-btn-hover-color);
}