:root {
  --bg-color: #282c34;
  --text-color : white;
}

.navbar {
  background-color: var(--bg-color);
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}

.nav-button {
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #0a6f8b;
  text-align: center;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-button:hover {
  background-color: #061424;
  transform: scale(1.05);
}
