.tools-container {
  background-color: #282c34;
  color: #fff;
  border-radius: 8px;
  margin: auto;
  width: 90%;
  padding: 10px;
  margin-top: 5%;
  text-align: center;
  position: relative;
}

.tool-container {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  position: relative;
  display: inline-block;
  overflow: hidden; /* Hide overflowing content */
}

.tool-image {
  display: block;
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease;
}

.tool-text {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: -60%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.tool-container:hover .tool-text {
  visibility: visible;
  opacity: 1;
  bottom: 0;
}

.tool-container:hover .tool-image {
  transform: translateY(-20px); /* Adjust the translateY value as needed */
}
