/* Style for the footer copywright columns */
.footer-copywright {
  text-align: center !important;
  margin-top: 10px;
}

/* Style for the footer copywright heading */
.footer-copywright h3 {
  font-size: 1em;
}

/* Style for the copyright year */
.footer-copywright h3:last-child {
  margin-top: 10px;
  font-size: 0.9em;
}
