.component-project-box {
  background-color: #282c34;
  color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  position: relative;
  display: inline-block;
  width: 450px;
  height: 400px;
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.3s;
}

.component-project-box:hover {
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
  transform: scale(1.02); /* Increase size by 10% on hover */
}

.component-project-box:hover .image-container img.active {
  opacity: 1;
}