.component-project{
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
    background-color: aqua;
    text-align: center;
    position: relative;
    display: inline-block;
    width: 400px;
    height: 300px;
    padding: 40px;
  }
