body {
  margin: 0;
  padding: 0;
}

main {
  margin-top: 60px; /* Adjust this value based on your navbar height */
}

body {
  font-family: JosefinFont, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

main {
  max-width: 1600px;
  margin: 0 auto;
}
