@font-face {
  font-family: JosefinFont;
  src: local(JosefinFont), url('./fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('woff2');
}

body {
  font-family: JosefinFont, sans-serif;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

footer p {
  margin: 0;
}
